<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.DisplayName}}, please activate your account</title>
</head>

<body>
	<p>Hi <b>{{.DisplayName}}</b>, thanks for registering at {{AppName}}!</p>
	<p>Please click the following link to activate your account within <b>{{.ActiveCodeLives}}</b>:</p>
	<p><a href="{{AppUrl}}user/activate?code={{.Code}}">{{AppUrl}}user/activate?code={{.Code}}</a></p>
	<p>Not working? Try copying and pasting it to your browser.</p>
	<p>Welcome to <a target="_blank" rel="noopener noreferrer" href="{{AppUrl}}">{{AppName}}</a>!</p>
</body>
</html>
