<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.DisplayName}}, welcome to {{AppName}}</title>
</head>

<body>
	<p>Hi <b>{{.DisplayName}}</b>, this is your registration confirmation email for {{AppName}}!</p>
	<p>You can now login via username: {{.Username}}.</p>
	<p><a href="{{AppUrl}}user/login">{{AppUrl}}user/login</a></p>
	<p>If this account has been created for you, please <a href="{{AppUrl}}user/forgot_password">set your password</a> first.</p>
	<p>Welcome to <a target="_blank" rel="noopener noreferrer" href="{{AppUrl}}">{{AppName}}</a>!</p>
</body>
</html>
